{% extends "base.html" %}

{% block title %}Уведомления{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
<h2>Уведомления</h2>
<ul class="list-group mt-3">
    {% if notifications %}
        {% for notification in notifications %}
        <li class="list-group-item notification-item">
            {{ notification.message }}
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item notification-item">Нет новых уведомлений.</li>
    {% endif %}
</ul>
{% endblock %}
